.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: middle;
    border-top: 1px solid #e7ecf1;
    text-align: center;
}

.fit {
    overflow: hidden;
}

.fit * {
    display: inline;
}

.fit input[type=file] {
    bottom: 0;
    cursor: pointer;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translate(-300px, 0px) scale(4);
    transform: translate(-300px, 0px) scale(4);
}

/* Style Input's File */
.input-file {
    margin: 0;
    cursor: pointer;
    display: block;
}

.input-file input {
    display: none;
}

.input-file span {
    display: block;
    text-align: center;
    color: #1D37FF;
    margin: 3px 0 0 0;
    padding: 8px 10px;
    text-decoration: none;
    background: #35a7de;
    border-radius: 20px;
    transition: 0.3s;
}

.input-file span:hover {
    background: #2683E1;
}

.button-file {
    text-align: center;
    width: 100%;
    border: 2px solid;
    border-radius: 4px;
    color: #333;
    display: inline-block;
    padding: 6px 20px;
    position: relative;
}

.margin {
    margin: 10px 0;
}

.nmb {
    margin-bottom: 0;
}

.footer {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer .card-body {
    padding: 10px;
}